body{
    background-color: blanchedalmond;
    text-align: center;
    }

#score{
font-size: x-large;
margin-right: 1000px;
}

#time{
    font-size: x-large;
    margin-right: 1000px;
    float: right;
    margin-right: 200px;
}

#Sketch{
color: hotpink;
}

p{
    font-size: large;
    color: darkviolet;
    padding-top: 10px;
    }